## datatype and variables

In [1]:
print("HELLO WORLD")

HELLO WORLD

In [2]:
print(1234567890)

1234567890

In [3]:
print("argument",2,"argument 29")

argument 2 argument 2

In [4]:
a = 123

In [5]:
a

123

In [7]:
print(a)

123

In [8]:
s='python is awesome'

In [9]:
s

'python is awesome'

In [12]:
k='''again python is awesome we use triplle quotes to write multiple lines 

and we can use this to write paragraphs aor much much big paragraphs '''

In [13]:
print(k)

again python is awesome we use triplle quotes to write multiple lines

and we can use this to write paragraphs aor much much big paragraphs

In [15]:
name = "Satyam Pandey , Sarvendra singh "

In [20]:
print("i am", name)

i am Satyam Pandey , Sarvendra singh

In [21]:
type(k)

str

In [24]:
f=9.3636

In [23]:
type(f)

float

In [25]:
t,f = True, False

In [26]:
t

True

In [27]:
f

False

In [28]:
print(type(t),type(f))

<class 'bool'> <class 'bool'>

In [29]:
x=None
y=None

In [30]:
type(x)

NoneType

In [31]:
type(y)

NoneType

## input and output

In [1]:
print('good morning')

good morning

In [2]:
a='green'
b='apple'

In [3]:
print(a)

green

In [4]:
print('i love', a)

i love green

In [5]:
print('i love',a,'i hate',b)

i love green i hate apple

In [6]:
A='banana'
a='BANANA'

In [7]:
print(A,a)

banana BANANA

In [8]:
# multiline msg printing 
print('i went to moti mahal ')
print('to have my lunch')
print('and it was to tasty.')

i went to moti mahal
to have my lunch
and it was to tasty.

In [9]:
# line change \n
print('i went to moti mahal\nto have my lunch\nand it was to tasty ')

i went to moti mahal
to have my lunch
and it was to tasty

In [10]:
a='apple'
b='banana'
c='cherry'
print('a = ',a,'b = ',b,'c = ',c )

a =  apple b =  banana c =  cherry

In [11]:
print(f'a=a,b=b,c=c')

a=a,b=b,c=c

In [12]:
print(f'a={a},b={b},c={c}') # better version - f string (formatted string)

a=apple,b=banana,c=cherry

In [13]:
x= 'hey'
y= "bro"
z= "how r you"

In [15]:
print(f"x={x},y={y},z={z}")

x=hey,y=bro,z=how r you

In [16]:
a=10
b=20
a+b

30

In [18]:
name= input("what's ur name => ")
print('so, you are', name)

so, you are satyam pandey

In [19]:
name= input("what's ur name => ")
print('so, you are', name)

so, you are sarvendra singh

In [20]:
a=input('enter a number')
b=input('enter a number')

In [21]:
int(12)

12

In [22]:
int(1.2356)

1

In [25]:
int(True)

1

In [29]:
a=int(input('enter a number'))
b=int(input('enter a number'))
a+b

24

In [4]:
age = input('enter ur age')
print(age, type(age))
age=int(age)
print(age,type(age))

20 <class 'str'>
20 <class 'int'>

# operators
-assignment operator 
-Arithmetic
-comparision
-logical
-instance operator is
-membership operator in

In [48]:
a=10
b=3

In [33]:
a+b

24

In [34]:
a-b

0

In [35]:
b-a

0

In [36]:
a*b

144

In [37]:
a/ b #division -> always a float

1.0

In [38]:
a//b #integer

1

In [39]:
a%b #modulous (remainder)

0

In [40]:
10%2

0

In [41]:
a ** b #exponent

8916100448256

In [42]:
a**100

828179745220145502584084235957368498016122811853894435464201864103254919330121223037770283296858019385573376

In [43]:
2**13

8192

In [44]:
10**100

10000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000

In [45]:
a>b

False

In [49]:
a>b

True

In [52]:
a==b

True

In [53]:
a!=b

False

In [54]:
a<=b

True

In [55]:
a>=b

True

In [56]:
a<b

False

# logical operator
'and' -> gives true if all conditions are true, else false
'or'  -> gives true if any one condition is true, else false
'not' -> gives true if condition is false, and vice versa

In [10]:
name= 'raju'
age= '20'

In [11]:
name=='raju' and age=='20'

True

In [8]:
course='bca'
language='python'

In [9]:
course=='bca' or language=="java"

True

In [66]:
animal='chimpanze'

In [68]:
not animal=='chimp'

True

In [69]:
animal=='chimpanze'

True

In [70]:
not animal=="chimpanze"

False

#membership operator

In [72]:
numbers=[1,2,3,4,5,6,7,8,9,10]

In [73]:
44 in numbers

False

In [74]:
5 in numbers

True

In [75]:
a in numbers

True

In [76]:
b in numbers

True

In [77]:
movies =['rampage','iron man','SUITS']

In [79]:
'rampage' in movies

True